<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="banner image-fluid">
   <div class="text-center mt-5">
       <h1 class="font-weight-bold">Smart Contact Manager</h1>
       <p>
           Start Collecting your Contacts in very smarter way.We provide very efficient and smarter way of handling contact.
       </p>
       <h2 style="color: aquamarine">Normal Project...<span>&#128516;</span></h2>
   </div>
</section>
</body>
</html>